{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="pane">
  <div class="card">
    <div class="card-content">
      <h1>Kelsi A. Elliott</h1>
    </div>
  </div>
</div>


<!-- Bio Section -->
<div class="pane">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <!-- Description -->
          <div class="column-half"> 
            <div class="description">
              <h3>About Me</h3>
              I am a senior at Michigan State University pursuing a degree in 
              Computer Science through the College of Engineering and a minor in 
              Business through the Eli Broad College of Business.

              Currently, I work as an Undergraduate Learning Assistant (ULA) for 
              MSU's CSE 102. The class is a python-based programming class to 
              teach coding, as well as problem-solving.

              I recently completed an internship for a small consulting company 
              where I was a sales analyst intern. I was part of a team that 
              selected a sales vertical to build out full operations for in a new
              market segmentation. This included data scraping, implementing a 
              CRM, and designing workflows.

              I am eager to obtain a position that will allow me to utilize and 
              showcase my strong communication, logic, leadership, and 
              problem-solving abilities.
            </div>
          </div>  
          <!-- Image -->
          <div class="column-half">
            <div class="image">
              <img src="../static/main/images/grad.png" alt="Kelsi's Profile Image" loading="lazy">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Another block of content -->
<div class="pane">
  <div class="card">
    <div class="card-content">
      <p>A fun fact about me: <b>{{fun_fact}}</b> </p>
    </div>
  </div>
</div>

{% endblock %}


