{% extends 'shared/layout.html' %}

{% block maincontent %}

<div class="pane">
  <div class="title-card">
    <div class="card-content">
      <h2>Projects</h2>
    </div>
  </div>
</div>

<!-- CSE 498 Capstone -->
<div class="pane">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <!-- Image -->
          <div class="column-half">
            <div class="image">
              <a href="https://caden-james.github.io/CSE498-Turing/Dev/Frontend/board.html" target="_blank">
                <img src="../static/main/images/capstone.png" alt="Capstone Image" loading="lazy">
              </a>
            </div>
          </div>
          <!-- Description -->

        <div class="column-half"> 
          <div class="description">
            <h3>Senior Capstone Project</h3>
            
            Worked with 4 other teammates to build out a task manager web 
            application. This project utilized, C++ for the backend, and 
            HTML/CS/JS for the front-end. 
            <br></br>
      
            <a href="https://caden-james.github.io/CSE498-Turing/Dev/Frontend/board.html" target="_blank">
              <b>Click here to go to the project.</b>
            </a> 
            <br></br>
            <a href="https://github.com/CSE498/CSE498-Spring2025/tree/main/Group-08" target="_blank">
              <b>Click here to go to the project source code.</b>
            </a>          
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

<!-- CSE 435 ADB -->
<div class="pane">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <!-- Image -->
          <div class="column-half">
            <div class="image">
              <a href="https://www.cse.msu.edu/~robsonj3/" target="_blank">
                <img src="../static/main/images/prototype.png" alt="Piano Image" loading="lazy">
              </a>
            </div>
          </div>

          <!-- Description -->
        <div class="column-half"> 
          <div class="description">
            <h3>ADB Project</h3>
            The Automated Driving Beam project aimed to created a prototype 
            of dynamic headlights for the customer Flex-N-Gate.
            
            </b> </br>

            <a href="https://www.cse.msu.edu/~robsonj3/" target="_blank"> <br> <b>Click here to go 
                to the project.</b> </br> </a>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

<!-- 476 Mobile App Project -->
<div class="pane">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <!-- Image -->
          <div class="column-half">
            <div class="image">
              <a href="https://github.com/ellio357/GroupProject476" target="_blank">
                <img src="../static/main/images/476App.png" target="_blank"
                alt="Piano Image" loading="lazy">
              </a>
            </div>
          </div>
          <!-- Description -->
          <div class="column-half"> 
            <div class="description">
                <h3>Workout Tracking App</h3>
                This project involved brainstorming and developing an application
                that solved a problem. My team of 5 decided to create a workout
                tracking application that featured: 
                
                <p><smaller-font>- Multi-touch-responsive UI that works at multiple 
                  screen sizes, resolutions, and orientations</smaller-font></p>
                <p><smaller-font>- In-app login screen with remote, server-side authentication</smaller-font></p>
                <p><smaller-font>- Local and remote data storage</smaller-font></p>
                <p><smaller-font>- Functionality accessing and processing on-device sensor data (location services)</smaller-font></p>

                </b> </br>
                The application was brainstormed/planned in Figma, developed in
                Android Studio using Java, and GitHub to collaborate.
                </b> </br>
                <a href="https://github.com/ellio357/GroupProject476" target="_blank"> <br> <b>Click here to go 
                    to the project code.</b> </br> </a>
            </div>
          </div>  
      </div>
    </div>
  </div>
</div>

<!-- Piano Project -->
<div class="pane">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <!-- Image -->
          <div class="column-half">
            <div class="image">
              <a href="/piano" target="_blank">
                <img src="../static/main/images/piano.jpeg" target="_blank"
                alt="Piano Image" loading="lazy">
              </a>
            </div>
          </div>
          <!-- Description -->
          <div class="column-half"> 
            <div class="description">
                <h3>Piano Project</h3>
                This project involved creating an interactive digital piano.
                HTML, CSS, and javascript were all ultilized to produce the 
                final product.

                </b> </br>

                <a href="/piano" target="_blank"> <br> <b>Click here to go 
                    to the project.</b> </br> </a>
            </div>
          </div>  
      </div>
    </div>
  </div>
</div>


<!-- 477 Website -->
<div class="pane">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <!-- Image -->
          <div class="column-half">
            <div class="image">
              <a href="/home" target="_blank">
                <img src="../static/main/images/homepage.png" target="_blank"
                alt="Homescreen" loading="lazy">
              </a>
            </div>
          </div>
          <!-- Description -->
          <div class="column-half"> 
            <div class="description">
                <h3>477 Portfolio Website</h3>
                MSU's CSE 477 Web Application Development involved creating a 
                variety of websites to showcase the topics we had learned.
                <br></br> 
                This website contains a variety of topics learned in the class,
                 including, but not limited to, general structuring of 
                 HTML/CSS/JS/python Flask, SQL/CSV file usage, session 
                 management, and password encryption.
                
                <br></br> 
                This website is hosted via Google Cloud Console

                <br></br> 
                <a href="/home" target="_blank"> <br> <b>Click here to go 
                    to the homepage. </a>
                <br></br>
                <a href="https://github.com/ellio357/Website" target="_blank">
                  <b>Click here to go to the project source code.</b>
                </a>
            </div>
          </div>  
      </div>
    </div>
  </div>
</div>

{% endblock %}