{% extends 'shared/layout.html' %}

{% block maincontent %}
    <div class="pane">

        <!-- User Info and Invites -->
        <div class="card">
            <h1>Users and Their Invites</h1>
            <br></br>
            <br></br>
            <table>
                <tr>
                    <th>Email</th>
                    <th>User ID</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_id }}</td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    
    </div>
{% endblock %}
